/* Style for header */
header {
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 36px;
    color: #e2808b;
}

header p {
    font-size: 18px;
    color: #aecbdd;
}

/* carousel container */
.carousel-container {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-slide {
    display: none;
}

.carousel-slide img {
    width: 100%;
    border-radius: 10px;
}

/* carousel buttons */
#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    z-index: 2;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

/* call-to-action */
.cta {
    text-align: center;
    margin-top: 50px;
}

.cta a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #fcb4c7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta a:hover {
    background-color: #aecbdd;
}
